.cards {
  display: flex;
  flex-wrap: wrap;
}

.fav-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 29.46%;
  border: solid black 0.5px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #888888;
  background: lightgray;
  padding: 1.2%;
  margin: 0.7%;
  text-align: left;
}

.delete {
  background: url("../../assets/delete.png") center center no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.card-header {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.fav-info {
  padding: 6px 0;
}
