.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  align-items: center;
}

.image {
  background: url('../../assets/night1.jpg') center center no-repeat;
  background-size: cover;
}

.image-small-header {
  width: 40%;
}

.right-header {
  width: 60%;
}

.park-title {
  width: 90%;
  margin: auto;
  padding: 10px;
  border-bottom: solid gray 0.3px;
  font-size: 28px;
  font-weight: bold;
  font-family: georgia;
}

.map {
  height: auto;
  border: solid black 0.5px;
}

.list {
  width: 50%;
  height: auto;
}
