.header {
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
}

.image {
  background: dimgray;
  padding: 20px;
  height: 500px;
}

.image-small-header {
  width: 40%;
}

.right-header {
  width: 60%;
}

.park-title {
  width: 90%;
  margin: auto;
  padding: 10px;
  border-bottom: solid gray 0.3px;
  font-size: 36px;
  font-weight: bold;
  font-family: georgia;
}

.sub-title {
  padding: 12px;
  font-size: 22px;
  font-family: georgia;
}

.map {
  height: auto;
  margin: auto;
  border: solid black 0.5px;
}

.list {
  width: 40%;
  height: auto;
}
