.nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.app-logo {
  background: url('../../assets/NavIcon.png') center center no-repeat;
  background-size: contain;
  width: 120px;
  height: 60px;
}

.nav-link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
}
