.nav {
  background-color: rgb(63, 63, 63);
  height: 50px;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 45px;
  /* margin-right: 20px; */
  text-decoration: none;
  color: white;
  padding: 2px 12px;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: #2ec379;
  color: black;
  border-radius: 2px;
}

.favorite-icon, .park-icon, .history-icon, .badge-icon {
  width: 26px;
  height: 26px;
}

.app-logo {
  background: url('../../assets/nav/np-logo.png') center center no-repeat;
  background-size: contain;
  height: 50px;
  width: 230px;
  margin: 0 40px 0 5px;
}

.favorite-icon {
  background: url('../../assets/nav/favorites.png') center center no-repeat;
  background-size: contain;
}

.park-icon {
  background: url('../../assets/nav/parks.png') center center no-repeat;
  background-size: contain;
}

.history-icon {
  background: url('../../assets/nav/history.png') center center no-repeat;
  background-size: contain;
}

.badge-icon {
  background: url('../../assets/nav/badge.png') center center no-repeat;
  background-size: contain;
}








