.nav {
  position: fixed;
  top: 0;
  background-color: rgb(63, 63, 63);
  height: 50px;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  z-index: 99;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 45px;
  text-decoration: none;
  color: white;
  padding: 2px 12px;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: #2ec379;
  color: black;
  border-radius: 2px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 50px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 50px;
  font-size: 20px;
}

.favorite-icon, .park-icon, .history-icon, .badge-icon, .earth-icon, .map-icon {
  width: 26px;
  height: 26px;
}

.app-logo {
  background: url('../../assets/nav/np-logo.png') center center no-repeat;
  background-size: contain;
  height: 50px;
  width: 230px;
  margin: 0 40px 0 5px;
}

.favorite-icon {
  background: url('../../assets/nav/fav.png') center center no-repeat;
  background-size: contain;
}

.park-icon {
  background: url('../../assets/nav/search-park.png') center center no-repeat;
  background-size: contain;
}

.history-icon {
  background: url('../../assets/nav/history.png') center center no-repeat;
  background-size: contain;
}

.badge-icon {
  background: url('../../assets/nav/badge.png') center center no-repeat;
  background-size: contain;
}

.earth-icon {
  background: url('../../assets/nav/earth.png') center center no-repeat;
  background-size: contain;
}

.map-icon {
  background: url('../../assets/nav/map.png') center center no-repeat;
  background-size: contain;
}

.login-btn {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 3px;
  margin: 0 15px 0 25px;
  cursor: pointer;
}





