@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Abel);

.desc-body {
  padding: 20px;
  width: 75%;
  margin: auto;
}

.alert {
  padding: 3px;
  background: #671107;
  font-family: 'Open Sans Condensed', sans-serif;
  width: auto;
  max-width: 180px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.image-responsive {
  width: 100%;
  padding-top: 35px;
  height: auto;
  margin: auto;
}

.danger,
.caution,
.info,
.closed {
  height: 28px;
  width: 28px;
  margin-top: 10px;
}

.danger {
  background: url('../../../../assets/alerts/danger.png') center center no-repeat;
  background-size: contain;
}

.caution {
  background: url('../../../../assets/alerts/caution.png') center center no-repeat;
  background-size: contain;
}

.info {
  background: url('../../../../assets/alerts/info.png') center center no-repeat;
  background-size: contain;
}

.closed {
  background: url('../../../../assets/alerts/closed.png') center center no-repeat;
  background-size: contain;
}

.alert-item {
  display: flex;
  align-items: center;
  padding: 0 3px 0 8px;
}

.alert-title {
  font-size: 18px;
  margin-left: 14px;
}

.alert-desc {
  font-size: 13px;
  margin-left: 50px;
  text-align: left;
  padding: 0 3px 3px 0;
}

.large-title-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 46px;
  text-align: left;
  margin: 50px 0 0 0;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin: 20px 0;
}

.back-btn {
  font-size: 16px;
  font-weight: bold;
  background: rgb(56, 56, 56);
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
  box-shadow: 0px 0px 2px grey;
  margin: 20px 0 40px 0;
  cursor: pointer;
}

.icon {
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.button {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.button:after {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  backface-visibility: hidden;
}
.button:before {
  position: relative;
  display: block;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.6rem;
  z-index: 1;
  line-height: 90px;
}

.fontawesome-heart {
  box-shadow: 0 0 0 3px white;
}

.fontawesome-heart:after {
  width: 50px;
  height: 50px;
  top: -72px;
  background: rgb(221, 66, 66);
  transition: transform 0.2s;
}

.fontawesome-heart:before {
  color: white;
}

.fontawesome-heart:hover:after {
  transform: scale(0.85);
}

@keyframes ripple {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #52292a, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #52292a, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
    opacity: 0;
  }
}
